.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  background-color: #1F1E1F;
}

.nav-container{
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: auto;
}

#logo{
  width: 10%;
}

.container{
  width: 90%;
  margin: auto;
}

.idea{
  box-shadow: rgba(82, 81, 81, 0.35) 0px 5px 15px;
}