.App {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.sidebar{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
  height: 100vh;
  position: fixed;
  background-color: #EBECF2;
  border: 0px 1px 0px 0px;
}

.sidebar > img {
  width: 40%;
  margin-top: 1em;
}

.aside-top{
  margin-top: 1em;
}

.themes{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: 50%;
  margin: auto;
  margin-top: 1em;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 50px;
}

.aside-bottom{
  margin-top: 5em;
}
